venv/
**/__pycache__/

backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/**/*.pyc
backend/*.db
backend/.env

frontend/node_modules/
backend/venv/
frontend/dist/
frontend/.env
frontend/.env.local

.DS_Store
Thumbs.db